In [6]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer

In [8]:
data = pd.read_csv("data.csv", on_bad_lines='skip')

In [9]:
data.head()

      password  strength
0     kzde5577         1
1     kino3434         1
2    visi7k1yr         1
3     megzy123         1
4  lamborghin1         1

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 669640 entries, 0 to 669639
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   password  669639 non-null  object
 1   strength  669640 non-null  int64
dtypes: int64(1), object(1)
memory usage: 10.2+ MB

In [15]:
data=data.dropna()

In [16]:
data.isnull().sum()

password    0
strength    0
dtype: int64

In [17]:
data["strength"]=data["strength"].map({0:"weak",1:"medium",2:"strong"})

In [18]:
data.head()

      password strength
0     kzde5577   medium
1     kino3434   medium
2    visi7k1yr   medium
3     megzy123   medium
4  lamborghin1   medium

In [19]:
def word(password):
    character=[]
    for i in password:
        character.append(i)
    return character

In [20]:
x=np.array(data["password"])
y=np.array(data["strength"])

In [21]:
tdif = TfidfVectorizer(tokenizer=word)
x = tdif.fit_transform(x)
xtrain, xtest, ytrain, ytest = train_test_split(x, y, 
                                                test_size=0.05, 
                                                random_state=42)

C:\Users\HP\anaconda\lib\site-packages\sklearn\feature_extraction\text.py:525: UserWarning: The parameter 'token_pattern' will not be used since 'tokenizer' is not None'
  warnings.warn(

In [22]:
model = RandomForestClassifier()
model.fit(xtrain, ytrain)
print(model.score(xtest, ytest))

0.9571112836748104

In [23]:
import getpass
user = getpass.getpass("Enter Password: ")
data = tdif.transform([user]).toarray()
output = model.predict(data)
print(output)

Enter Password:  ········

['medium']

In [25]:
import pickle
pickle.dump(model,open('pswrd.pkl','wb'))
pickled_model=pickle.load(open('pswrd.pkl','rb'))

In [29]:
user = getpass.getpass("Enter Password: ")
data1 = tdif.transform([user]).toarray()
output=pickled_model.predict(data1)
print(output)

Enter Password:  ········

['medium']